{{! template-lint-disable no-invalid-interactive }}
<div class='product-image' {{on 'click' @toggleZoom}}>
  {{! template-lint-disable require-valid-alt-text }}
  <img src={{@productImage}} alt='' />
</div>